$themecolor:#624355; $highlighter: #F46A6A;
$fontcolor: #333333;
@mixin center-hor(){
    position:relative;
    margin-left: auto; margin-right: auto;
}

    

#loader{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    .dot{
        width:5vh; height: 5vh;
        display: inline-block;
        border-radius: 50%;
        margin-right: 2vh;
        border:1vh solid #34495e;
    }
}
section{
    a{
        &:hover, &:active, &:focus{
            text-decoration: none;
        }
    }
    background-color: white;
    margin-bottom:2%;
    min-height: 120vh;
    padding: 0 0;
    color: $fontcolor;
    h1{
        padding-top: 5vh;
        font-size: 6vh;
    }
    h1, p{
       text-align: center;
       font-family: 'Raleway', sans-serif;
  
    }
}
#hero{
    min-height:100vh;
    opacity:0;
    text-align: center; 
    color:white;
    background-image: url(../files/bg3.jpg);

    h1{
        color:white;
        font-size: 8vh;
        line-height:7vh; 
        transform: translateY(-20vh);
    }
    h5{
        font-size: 3vh;
        position:relative;
        color:white;
        transform: translateY(-20vh);
    }
    p{
        line-height: 52vh;
        font-size: 18vh;
    }
    .join-btn{
        position:relative;
        top:-12vh; 
        font-size:3vh;
        text-align: center; line-height: 5.8vh;
        height:6vh; width:20vh;
        margin-right: auto; margin-left: auto;
        border-radius: 6vh;
        border: solid 0.5vh white;
        color:white;
        cursor: pointer;
        &:hover{
            background-color: #18a374;
        }
} 
}
@media screen and (min-width: 520px) {
    #nav {
        text-align:center;
        margin:0;
        font-weight: 600;
        ul{
            list-style: none;
        }
        li {
        display:inline-block;
        float:none;
        margin: 2vh;
            
    }
        li li {
        display:block;
        text-align:left;
        color:white;
    }  
        a{
            color:white;
            &:hover, &:active, &:focus{
                text-decoration:none;
            }
        }
}
}
#about{
    transition: all 0.4s linear;
    &.is-active{
        background-color: white;
    }
    p{
        padding:0 0;
        font-size: 3vh;
        
    }
    .panel{
      min-height: 40vh;
        width:95%;
      border:0.2vh solid lighten(#888888,20%);
        border-radius: 2px;
        box-shadow: 0px 0px 26px -10px #888888;
        padding: 0 2vh;
      
        .icon{
            font-size: 5vh;
            text-align: center;
            color: $themecolor;
        }
        h2{ font-weight: 500;}
        p{
            font-size: 2.2vh;
        }
    }
    h2{text-align: center;}
}

#team{
    .column{
        min-height:30vh;
        margin:2.5vh 0vh;
        .thumbnail{
           width:70%;
            transform-origin: left;
            transform: translateX(20%);
            box-shadow: none;
            border:0;
            &:hover{
                box-shadow: none;
            }
        }
        }

        img{
            width:100%; height: auto;
            border-radius: 50%;
        }
        figcaption {
            width:100.5%;
 
            text-align: center;
            font-size: 2vh;
            /*transform: translatex(-0.2vh) translateY(-2vh);*/
            line-height: 5vh;

}
        h2, p, h4{
            text-align: center;
        }
        h2{
            
            top: -2vh;
        }
        
    }


#events{
    iframe{
        @include center-hor();
    }
}


#sponsors{
    padding:0 8vh;
    h1{
        margin-bottom: 10vh;
    }
    img{
       width:30vh; height:auto; 
    }
    .thumbnail{
        border:none;
        box-shadow: none;
    }
}



@media screen and (max-width: 750px) { 
  #team .columns { column-gap: 0px; }
  #team .profile-container { width: 100%; }
}


/////Team


@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}


#stats{

    .button-container{
        .button{
            width:49%;
            cursor:pointer;
            background-color: transparent;
            font-weight:600;
            color:#7f8c8d;
            
            padding-bottom: 1vh;
            transition: all 0.1s linear;
        }
        .active-btn{
               border-bottom: 0.5vh solid #7f8c8d; 
            }
    }
    
}

#stats{
    ul{
        width:10vh;
        @include center-hor();
        list-style: none;
        height:5vh;
        margin-bottom:0;
        li{
            float:left;
            font-size: 4vh;
            margin:0 10%;
            &:nth-child(1){ color:#E35252 }
            &:nth-child(2){ color:#3498db }
        }
        
    }
}
//chart
.chart{
    height:80vh;
    /*border: 2px solid black;*/
    padding: 3vh 3vh;
    position:absolute;

    tbody {
        border:none;
        .percent{
            height:7.5vh; width:100%;
            background-color:#3498db; 
            border-radius:5px;
            overflow: hidden;
            border: 0.7vh solid darken(#3498db, 30%);
            div{
                height:7.5vh;
                background-color:#E35252;
                border-right: 0.3vh solid darken(#3498db, 30%);
            }
        }
        tr{
        background-color: transparent !important;
            border-bottom: 2vh solid white;
            line-height:7vh;
            td{
                &:nth-child(1){
                    text-align: right; line-height: 3vh;
                    width:20%;
                    font-size: 2.5vh; font-weight: 600;
                    padding-right:5vh;
                    
                }
                &:nth-child(2), &:nth-child(4){
                    text-align: center;
                    font-weight:600;
                }
                &:nth-child(3){
                    width:60%;
                    
                }
            }
            /*&:nth-child(1) .percent div{width:39%;}*/
            /*&:nth-child(2) .percent div{width:34%;}*/
            /*&:nth-child(3) .percent div{width:59%;}*/
            /*&:nth-child(4) .percent div{width:23%;}*/
            /*&:nth-child(5) .percent div{width:30%;}*/
           /* &:nth-child(6) .percent div{width:22%;}*/
            &:nth-child(1) .percent div{width:59%;}
            &:nth-child(2) .percent div{width:23%;}
            &:nth-child(3) .percent div{width:30%;}
            &:nth-child(4) .percent div{width:22%;}
    }
 }  
}
#chart{opacity:1;}
#chart2{
    opacity:0;
    .women, .men{
        height: 5.8vh; 
        margin:0;
        border-radius:4px;
        line-height: 5.5vh; text-align: right;
        padding-right:1.5vh;
        font-weight: 600;
    }
    .women{
        background-color: #E35252;
        border: 0.7vh solid darken(#E35252, 30%);
        margin-bottom:0.2vh;
        color: darken(#E35252, 40%);
    }
    .men{
        background-color: #3498db; 
        border: 0.7vh solid darken(#3498db, 30%);
        color: darken(#3498db, 40%);
    }
    tbody{
        tr{
            td:nth-child(1){}
            td:nth-child(3){width:85%;}
            td:nth-child(4){width:0%;}
            td:nth-child(2){
                width:0%;
            }
            &:nth-child(1) .women{width: percentage(49100/66300);
                &:after{
                 /*   display: block; content:'$$';*/
                }}
            &:nth-child(1) .men{width: percentage(55300/66300);}
            &:nth-child(2) .women{width: percentage(49700/66300);}
            &:nth-child(2) .men{width: percentage(54600/66300);}
            &:nth-child(3) .women{width: percentage(61100/66300);}
            &:nth-child(3) .men{width: percentage(66300/66300);}
            &:nth-child(4) .women{width: percentage(54900/66300);}
            &:nth-child(4) .men{width: percentage(60800/66300);}
        }
    }
    
    
}



