#projects {
	min-height: 100vh;
	background-color: $baseBgColor;


}

.project-container{
	height:50vh;
	
	.img-container, .info-container{
		flex:1;
		// border:solid 0.1em #000;
	}
	.img-container-inner{
		position:relative;
		height: 20em;
		width:30em;
		overflow: hidden;
		box-shadow: 0.5em 0.5em 1em 0.2em $boxShadow;

		img{
			@include rect(auto, 110%);	
			transition: $transitionBounce;
		}
		.img-link-demo{
			cursor:pointer;
			position:absolute;
			top: 0.5em; right: 0.5em;
			z-index:1;
			opacity:0;
			transition: $transition;
		}

		&:hover{
			filter: grayscale(80%);
			img{
				transform: scale(1.1);		
			}
			.img-link-demo{
				opacity: 1;
			}
		}
	}		
	.info-container-inner{
		@include rect(90%, 90%);

	}

	.title{
		flex:1;
		font-size:1.8em;
	}
	.description{
		flex:2.5;
	}
	.technology-stack{
		flex:1;
	}
	.project-links{
		flex:1;
	}
	.link{
		position:relative;
		margin:0 0.5em;
		@include circle(4em);

		border-width:0.2em;
		border-style:solid;
		
		overflow:hidden;

		&:before{
			content: ''; display: block;
			position:absolute;
			transition: $transitionBounce;

			@include rect(120%, 120%);
			top: 100%;
			left: -110%;
			transform:rotate(45deg);
			background-color:#F26798;
		}
		&:after{
			display: block;
			z-index:99999;
			transition: $transitionBounce;
		}

		&.demo{
			border-color: $demo;
			color: $demo;

			&:before{
				background-color: $demo;
			}
			&:after{
				content:'DEMO';
			}
		}
		&.code{
			border-color: $github;
			color:$github;

			&:before{
				background-color: $github;
			}
			&:after{
				content:'CODE';
			}
		}
		&:hover{
			color:#fff;
			
			&:before{
				top: -10%;
				left: -10%;
			}
			&:after{
				transform:scale(1.2);
			}
		}
	}
}