$titleFont: 'Montserrat', sans-serif;
$bodyFont: 'Nunito Sans', sans-serif;
// https://fonts.google.com/specimen/Maven+Pro

$baseBgColor: #fff;
$baseTextColor: #000;
$lightTextColor: #707070;

$demo: #5bd999;
$github: #b18abf;
$linkedin: #0e85c9;
$codepen: #455a64;
$miscLink: #f19200;


$transition: all 0.3s;
$transitionBounce: all 0.35s cubic-bezier(0.310, -0.105, 0.430, 1.590);

$boxShadow: rgba(0,0,0,.26);

@mixin circle($width) {
	height:$width; width: $width;
	border-radius: 50%;
}
@mixin rect($width, $height){
	height: $height; width: $width;
	border-radius:0;
}
