$titleFont: 'Montserrat', sans-serif;
$bodyFont: 'Nunito Sans', sans-serif;

$baseBgColor: #fff;
$baseTextColor: #000;

$transition: all 0.3s;

$boxShadow: rgba(0,0,0,.26);

@mixin circle($width) {
	height:$width; width: $width;
	border-radius: 50%;
}
@mixin rect($width, $height){
	height: $height; width: $width;
	border-radius:0;
}
