$titleFont: 'Montserrat', sans-serif;
$bodyFont: 'Nunito Sans', sans-serif;

$baseBgColor: #fff;
$baseTextColor: #000;

$github: #cb70d7;
$demo: #5bd999;

$transition: all 0.3s;
$transitionBounce: all 0.35s cubic-bezier(0.310, -0.105, 0.430, 1.590);

$boxShadow: rgba(0,0,0,.26);

@mixin circle($width) {
	height:$width; width: $width;
	border-radius: 50%;
}
@mixin rect($width, $height){
	height: $height; width: $width;
	border-radius:0;
}
