.person-container{
    position:relative; top:0px;
    margin-left: auto; margin-right: auto;
    height:500px; width:400px;
    z-index: -0;
}
.head-container{
    position:relative;
    margin-left:auto; margin-right: auto;
    top:20%; left:;
    height:170px; width:200px;
    border-radius: 40%;
    border:solid 6px    #d2a679;
    background-color:#ffc999;
}
.eyes-container{
    position:relative; top:90px; left:0px;
    height:30px; width:150px;
    margin-left: auto; margin-right: auto;
}
.eye{
    position:relative; 
    height:30px; width:30px;
    border-radius: 50%;
    background-color:black;
    
}
.l-eye{float:left;}
.r-eye{float:right;}  
.mouth-container{
    position:relative; top:100px; 
    height:2px; width:30px;
    margin-left: auto; margin-right:auto;
}
.mouth{
    height:10px; width:30px;
    border-bottom-left-radius: 15px; /*height + border width  */
    border-bottom-right-radius: 15px;
    border:5px solid #d2a679;
    border-top:none;
}
.ears-container{
    position:relative; top:75px; left:-15px;
    height:35px; width: 220px;
}
.ear{
    position:relative;
    height:25px; width:25px;
    border:solid 4px #d2a679;
    background-color:#ffc999;
    border-radius: 50%;
    z-index: -1;
}
.l-ear{float:left;}
.r-ear{float:right;}

.body-container{
    position:relative;
    margin-left:auto; margin-right: auto;
    top:18%; 
    height:150px; width:150px;    
    z-index: -1;
}
.torso{
    height:100px; width: 80px;
    margin-left:auto; margin-right: auto;
    border:solid 4px    #d2a679;
    background-color:#ffc999;
    z-index: -1;
}
.legs-container{
    position:relative; top:-5px;
    height:40px; width:80px;
    margin-left:auto; margin-right: auto;
    z-index: ;
}
.leg{
    position:relative;
    height:40px; width:35px;
    border-radius: 5px;
   border:solid 4px    #d2a679;
    border-top:0px;
   background-color:#ffc999; 
}
.l-leg{float:left;}
.r-leg{float:right;}
.arms-container{
    position:absolute;
    height:70px; width:90px;
    left:29px; top:14px;
    margin-left:auto; margin-right: auto;
    z-index: -1;
}
.arm{
    position:relative;
    height:60px; width:25px;
    border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
    border-top-left-radius: 0px; border-top-right-radius: 0px;
    border:solid 4px    #d2a679;
    border-top:0px;
    background-color:#ffc999; 
}
.l-arm{float:left; transform-origin: top; transform:rotate(35deg);}
.r-arm{float:right; transform-origin: top; transform:rotate(-35deg);}



.all-outfit-container{
    background-color: none;
    position:absolute;
    top:0px;
}
.outfit-container{
    position:relative; top:0px; left:0px;
    height:500px; width:400px;
    background-color: none;
    
}
/*------------------------------------------------------------------------
                        OUTFIT 1   - chicken suit 
------------------------------------------------------------------------*/
    .chicken-outfit{
        opacity:0;
    }
    .chicken-head-container{
        background-color:transparent/*#F3D166*/;border-color:#d4a711;
        top:-50px;
        height:170px; width:200px;
    }
    .chicken-head-container:before{
        content:''; display: block; position:relative;
        top: 0px; left:0px;
        height:157px; width:190px;
        border: solid 15px #F3D166;
        border-radius: 40%;
        box-shadow:inset 0px 0px 5px #d4a711;
    }
    .comb-chicken-container{
        position:relative;
        height:50px; width:30px;
        background-color: #C93D40;
        top:-210px; left:80px;
        border-top-left-radius: 50px; border-top-right-radius: 50px;
       /* transform: skewX(-10deg); */
        z-index: -1;
    }
    .comb-chicken-2{
        position:relative; 
        height:80px; width:30px;
        left:20px; top:10px;
        background-color: #C93D40;
        border-top-left-radius: 50px; border-top-right-radius: 50px;
        
    }
    .beak{
        position:relative;
        top:-190px; left:75px;
        height:0px; width:0px;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid #E3823F;
    }
    .chicken-torso{
        background-color: #F3D166; border-color:#d4a711;
        position:relative;
        top: 160px; left:-0px;
        width:120px; height:130px;
        border-radius: 50%/60% 60% 40% 40%;
    }  
    .chicken-leg{
        position:relative; top:145px; left:1px;
        background-color: #E3823F; border-color:#c9641d;
        z-index: -2;
    }
    .chicken-arm{
        position:relative; top:170px;
        z-index: 0;
        background-color: #F3D166; border-color:#d4a711;
    }
.ckn-r-arm{
    transform-origin: top;
    animation:cknArmR 2s linear infinite;
}
.ckn-l-arm{
    transform-origin: top;
    animation:cknArmL 2s linear infinite;
}
@keyframes cknArmR{
    20% {transform: rotateZ(-60deg);}
    40% {transform: rotateZ(-35deg);}
    50% {transform: rotateZ(-55deg);}
    50% {transform: rotateZ(-35deg);}

}
@keyframes cknArmL{
    20% {transform: rotateZ(60deg);}
    40% {transform: rotateZ(35deg);}
    50% {transform: rotateZ(55deg);}
    50% {transform: rotateZ(35deg);}
}

/*------------------------------------------------------------------------
                        OUTFIT 2   - sir outfit 
------------------------------------------------------------------------*/

.sir-outfit{
    position: absolute; background-color: transparent; opacity:1;
}
.sir-head-container{
    position:relative; 
    background-color: transparent
}
.hat-sir-container{
    position:absolute; top:-60px; left:65px;
    height:60px; width:60px;
    background-color:#535353;
    border:solid 5px #333333;
}
.hat-sir-container:before{
    content:''; position:relative; display: block;
    top:35px; left:-5px;
    height:10px; width:60px;
    background-color: #EA5A5A;
    border:solid 5px #e53434;
}
.hat-sir-container:after{
    content:''; position:relative; display: block;
    top:35px; left:-15px;
    height:5px; width:80px;
    background-color: #535353;
    border:solid 5px #333333;
    border-radius:3px;
}
.sir-r-eye{
    top:-10px; left: 10px;
    height: 50px; width:50px;
    background-color: transparent; border:solid 5px #333333; 
}
.sir-r-eye:before{
    content:''; display: block; position:relative;
    top:-10px; left: 10px;
    height: 50px; width:50px;
    background-color: transparent; border:solid 5px #333333; 
    left:-5px; top:-5px;
    height: 50px; width:50px;
    background-color: #ABA8D3;
    border-radius: 50%;
    opacity:0.8;
    z-index: 0;
}
.sir-r-eye-chain{
    position:relative; top:-25px; left:45px;
    height:25px; width:0px;
    border:solid 2px #333333;
}
.sir-r-eye-chain:before{
    content:''; position:relative; display: block;
    top:-5px; left:-7px;
    height:10px; width:10px;
    background-color: #535353;
    border-radius: 50%;
}
.sir-body-container{
    
}
.sir-torso{
    position:relative;
    background-color: #535353;
    border:solid 5px #333333;
}
.sir-torso-whiteshirt{
    position:relative; height:0; width:0;
    top: -2px; left:20px;
    border-left:18px solid transparent;
    border-right:18px solid transparent;
    border-top:45px solid #EDEFEE;
}
.sir-bowtie{
    position:relative; top:-45px; left:-6px;
    height:5px; width:5px;
    background-color: #EA5A5A;
    border:solid 5px #e53434; border-radius: 2px;
}
.sir-bowtie-l{
    position: relative; top:5px; left:-5px;
    height:25px; width:5px;
    background-color: #EA5A5A;
    border:solid 5px #e53434; 
    border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
.sir-torso-l-outline{
    position:absolute; top:-5px; left:35px;
    height:45px; width:0px;
    border:3px solid #333333;
    transform-origin: bottom; transform: rotate(-20deg);
}
.sir-torso-r-outline{
    position:absolute; top:-5px; left:35px;
    height:45px; width:0px;
    border:3px solid #333333;
    transform-origin: bottom; transform: rotate(20deg);
}
.sir-torso-m-outline{
    position:absolute; top:35px; left:34px;
    height:35px; width:0px;
    border:3px solid #333333;
    transform-origin: bottom;
}
.sir-torso-bl-outline{
    position:absolute; top:65px; left:-5px;
    height:0px; width:40px;
    border:3px solid #333333;
    transform-origin: right; transform: rotate(-15deg)
}
.sir-torso-br-outline{
    position:absolute; top:65px; left:33px;
    height:0px; width:40px;
    border:3px solid #333333;
    transform-origin: left; transform: rotate(15deg)
}
.sir-arms-container{
    
}
.sir-arm{
    height:33px;
    background-color: #535353;
    border:solid 5px #333333;
    border-radius: 0;
}
.sir-cuff{
    position: relative;top:28px; left:-5px;
    height:10px; width:27px;
    background-color: #EDEFEE;
    border-radius: 2px;
    border-color:#c9cfcc;
}
.sir-legs-container{
    top:-0px;
}
.sir-leg{
    position:relative; top:-5px; height:30px; 
    background-color: #535353; border-color: #333333;border-width: 5px;
    border-radius: 0px;
}
.sir-shoes-container{
    position:relative; top:20px; left:-6px;
    height:30px; width:92px;
}
.sir-shoe{
    position:relative; display: inline-block;top:-25px;
    height:10px; width:40px;
    background-color: #343138;
    border:solid 5px #19181b;
    z-index: ;
}
.sir-shoe-l{float:left; border-top-left-radius: 10px;}
.sir-shoe-r{float:right; border-top-right-radius: 10px;}

.sir-r-arm,
.p-r-arm{
    
}
.sir-l-arm,
.p-l-arm {
    transform-origin: top;
    transform: rotate(90deg);
    animation:cknArmL 1.5s linear infinite;
}
@keyframes sirArmR{
    20% {transform: rotateZ(-60deg);}
    40% {transform: rotateZ(-35deg);}
    50% {transform: rotateZ(-55deg);}
    50% {transform: rotateZ(-35deg);}

}
@keyframes sirArmL{
    20% {transform: rotateY(90deg);}
    40% {transform: rotateY(85deg);}
    50% {transform: rotateY(95deg);}
    50% {transform: rotateY(75deg);}
}
/*------------------------------------------------------------------------------------                      Outfit Wrapper      
-----------------------------------------------------------------------------------*/

.outfit-button-container{
    position: relative; top:110px;
    margin-right: auto; margin-left: auto;
    height: 55px; width:70px;
    padding-left: 10px;
}
.outfit-btn{
    position: absolute; margin:0px;
    height:30px; width:30px;  
    border-radius: 50%;  border:none;
}
.outfit-btn-ckn{
    left:0px;
    background-color: #F3D166;
    box-shadow: 3px 3px 0px #bd940f;
}
.outfit-btn-sir{
    left:50px;
    background-color: #535353;
    box-shadow: 2px 3px 0px #333333;
}

.outfit-btn-ckn:active{
    box-shadow: 0px 0px 0px #bd940f;
    left:1px; top:1px;
}
.outfit-btn-sir:active{
    box-shadow: 0px 0px 0px #333333;
    left:56px; top:1px;
}

