.ferris-wheel-container{
    width:500px;
    position:relative;
    margin-left: auto; margin-right: auto;
}
.stand{
    width:300px; height:20px; border-radius: 5px;
    background-color: deepskyblue;
    position:absolute;
    z-index:1;
    top:212px; left:49%;
    transform-origin: left;
  }
  .sd1{
   transform: rotate(60deg);
  }
  .sd2{
    transform: rotate(120deg);
  }
.wheel{
    width:50px; height:50px; border-radius: 50%;
    background-color: deepskyblue;
    position:relative; 
    /*top:300px; left:340px;*/
    top:190px; left:45%;
    animation: turn 15s 0s infinite linear;
  }

.wheel:before{
    content:'';
    width:425px; height:425px; border-radius: 50%;
    border: 20px solid deepskyblue;
    position:absolute; top:-190px; left:-190px;
  }
  
.support{
    width:190px; border-bottom:5px solid deepskyblue;
    position:absolute;
  }
    .support:nth-child(1){
      top:5px;left:25px;
      transform-origin: left;
      transform:rotate(-90deg);
    }
    .support:nth-child(2){
      top:30px;left:25px;
      transform-origin: left;
      transform: rotate(90deg);
    }
    .support:nth-child(3){
      top:25px;left:5px;
      transform-origin: left;
      transform: rotate(-180deg);
    }
    .support:nth-child(4){
      top:25px;left:30px;
      transform-origin: left;
      transform: rotate(0deg);
    }
    .support:nth-child(5){
      top:35px;left:40px;
      transform-origin: left;
      transform: rotate(45deg);
    }
    .support:nth-child(6){
      top:10px;left:10px;
      transform-origin: left;
      transform: rotate(225deg);
    }
    .support:nth-child(7){
      top:10px;left:45px;
      transform-origin: left;
      transform: rotate(-45deg);
    }
    .support:nth-child(8){
      top:35px;left:10px;
      transform-origin: left;
      transform: rotate(135deg);
    }
.seat{
      width:40px;height:40px; border-radius: 50%;
      position:absolute;
    }
    .seat:nth-child(9){
      background-color:gold;
      top: -240px;left:5px;
    }
    .seat:nth-child(10){
      background-color:palevioletred;
      top: 240px;left:5px;
    }
    .seat:nth-child(11){
      background-color:turquoise;
      top: 5px;left:-240px;
    }
    .seat:nth-child(12){
      background-color:tomato;
      top: 5px;left:240px;
    }
    .seat:nth-child(13){
      background-color:salmon;
      top: 173.5px;left:173.5px;
    }
    .seat:nth-child(14){
      background-color:palegreen;
      top: -170.5px;left:-170.5px;
    }
    .seat:nth-child(15){
      background-color:#FF9933;
      top: -162.5px;left:182.5px;
    }
    .seat:nth-child(16){
      background-color:plum;
      top: 172.5px;left:-172.5px;
    }


/*animation*/
@keyframes turn{
    100%{
      transform:rotate(360deg);
      }
    }
