.contact-letter{
    color:#66CC99;
    font-size: 50px; font-weight:900;
    
}

.title-contact{
    text-align: center;
    color:#66CC99;
    font-size: 50px; font-weight:900;
}
.contact-bubble{
    margin-top: 2%;
    text-align: center; line-height:200px;
    font-size: 30px; font-weight: 600; color:#66CC99;
    position:relative; margin-left: auto; margin-right: auto;
    height: 200px; width:200px;
    border-radius: 50%; border:solid 4px #66CC99;
}
.contact-bubble:hover{
    animation: bubble 1s;
}

.contact-bubble:after,
.contact-bubble:before {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid;
    border-top-color:white;
    bottom: 10px;
    content: '';
    left: 50%;
    margin-left: -119.5px;
    position: absolute;
    transform: rotate(55deg);
}

/* Styling for second triangle (border) */
.contact-bubble:before {
    border-left: 33px solid transparent;
    border-right: 33px solid transparent;
    border-top: 43px solid;
    border-top-color: inherit; /* Can't be included in the shorthand to work */
    bottom: 6px;
    margin-left: -126px;
    background-color: white;
}
@keyframes bubble {
    20%{transform: rotate(20deg) scale(1.1);}
    50%{transform: rotate(-20deg);}
    100%{transform: rotate(0deg);}
}

/*----------------------------------------------------
                    SOCIAL LINKS
--------------------------------------------------- */
.subtitle-contact, .contact-email{
    text-align: center; color:#66CC99; font-weight: 600;
    font-size: 15px;
}
.social-fa{
    color:white;
}
.contact-media{
    width:240px; padding:0px;
    margin-left: auto; margin-right: auto;
}
.contact-media li{
    list-style-type:none;
}
.contact-media a{
    float:left;
    font-size:30px; color:
    height:80px; width:80px;
    text-align: center; line-height: 80px;
}
.contact-media a:hover{
    animation: contactmedia 0.8s linear;
}
@keyframes contactmedia {
    10% {transform: scale(1.1);}
    20% {transform: scale(1.1) rotateZ(10deg);}
    30% {transform: scale(1.1) rotateZ(-10deg);}
    40% {transform: scale(1.1) rotateZ(10deg);}
}

.social-github{
    background-color: #9b59b6; 
    
}
.social-linkedin{
    background-color: #3498db;
}
.social-codepen{
    background-color: #666666;
}

/*----------------------------------------------------
                    SHARE
--------------------------------------------------- */
.subtitle-share{
    text-align: center; color:#66CC99; font-weight: 600;
}
.contact-share{
    width:75px; padding:0px;
    margin-left: auto;margin-right: auto;
}
.contact-share li{
    list-style-type: none; float:left;
    font-size:20px;
    height:25px; width:25px;
    text-align: center; line-height: 25px;
}
.share-fa{
    color:#66CC99;
}

