/*http://whoisleon.com/#home*/
.container{
    position:relative;
    top:50%;
}
.section-title-exp{
    font-size:50px;
    margin-bottom:5%;
    text-align: center;
    
}
.coop-row{
   position:relative;
}
.coop{
    height:400px;
    width:400px;
    border-radius:50%;
    border-style: solid;
    border-width: 15px;
    transition:all 0.4s ease;
      
    margin: 0 0 25px 0;
    position: relative;
    top: 50%;
}
.coop p{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.coop p{
   font-size:35px;  
    transition:all 0.6s ease;
}

.coop-cgi{
   color: #466A80;
}
.coop-vr{
    color:#FF6B7E;
}
.coop-cgi{
    border-color: #466A80;
}
.coop-vr{
    border-color: #FF6B7E;
}
.coop:hover{
    border-radius:5px;
}
.coop:hover p {
     display:none;
}
.coop-vr-desc-box,
.coop-cgi-desc-box{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    word-wrap: break-word;
    
    opacity: 0;
    transition: opacity 0.2s ease;
}
.coop-vr-desc1{  
      
    
}
.coop-vr:hover .coop-vr-desc-box,
.coop-cgi:hover .coop-cgi-desc-box{
    opacity: 1;
}
