/*    http://thecodeblock.com/expand-on-hover-tiles-with-css-and-jquery/ 
http://codepen.io/Zeaklous/pen/kyGqm
http://codepen.io/Rplus/pen/lEDBj

*/
.section-title{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 5%;
    font-size: 50px; text-align: center; color:#6FCDCF;
    font-weight: 800;
}
.exp-box{
    position: relative;
    background-color: white; color: #6FCDCF;
    border-style: double; border-width: 8px; border-color: #6FCDCF;
    border-radius: 5px;
    font-weight: 700; font-size: 20px;
    margin:0; margin-bottom: 10%;
    height: 450px; width: 80%; padding:10px;
    transform: translateX(10%);
}
.exp-box h1{font-size: 50px;}
.exp-box span {
    position: relative;
    top: -10px;
}
.exp-box p{
    position:absolute;
    visibility: hidden;
    font-size: 40px;
    line-height: px;
}
.activebox{
    padding: 0px 10%;
    overflow: hidden;
}
.activebox p{
    text-align: left;
    font-size: 20px; font-weight: 400; line-height: 25px;
    display: list-item; list-style-type: circle;
    position: relative;
    left: 40px;
    top:-50px;
    width:350px;
    visibility: visible;
}
.activebox h1{
    font-size: 30px;
    position: relative;
    top: -30px;
}
.activebox span{
    position: relative;
    top:-40px;
}
.activebox h5{
    position:relative;
    top:-50px;
}

.activebox{
    border-radius: 5px;
    background-color: #6FCDCF; color: white;
    border-style: solid; border-width: 4px; border-color: white;
    padding-top: 25px;
 
}


