/*    https://return-true.com/css-animated-portfolio-style-feature-menu/      */

    @font-face {
        font-family: 'icomoon';
        src:url('icomoon/fonts/icomoon.eot');
        src:url('icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
            url('icomoon/fonts/icomoon.woff') format('woff'),
            url('icomoon/fonts/icomoon.ttf') format('truetype'),
            url('icomoon/fonts/icomoon.svg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

/*    SIDEBAR 
http://codepen.io/JFarrow/pen/fFrpg?editors=1100
*/

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
.home-icon{
    
}
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
/*display: table-cell;*/
    display: inline;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}
.main-sym-pulse{
    position:relative;
    top:-185px;
    color:pink;

}
.main-sym{
    top:-150px;
    text-align: center;
    position:relative;
    width: 100%;
    color:#e87;
}
 .main-sym-pulse{
    animation: mainSym 0.8s ease 0s infinite alternate;
     
     z-index: -1;
}

/*
.main-menu:hover,nav.main-menu.expanded {
/*width:250px;*//*
overflow:visible;
}*/
li:hover{
    background-color: cadetblue;
    color: white;
}

/*MENU LEFT OR RIGHT*/
.main-menu {
background:white;
border-right:0px solid #e5e5e5;
position:absolute;
top:40%;
bottom:0;
height:39%;
left:1%;
width:60px;
/*overflow:hidden;*/
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;    
width:180px;
    border-radius: 0px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
/*display:table-cell;
     display:inline-block;*/
   
vertical-align:middle;
width:120px;
    left:px;
  font-family: 'Titillium Web', sans-serif;
}
.nav-text{
    color:grey;
    /*visibility: hidden;*/
    display:none;
    position:relative;
}
.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}
/*
.no-touch .scrollable.hover {
overflow-y:hidden;
}
/*
.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}*/

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

/*li hover*/
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

  
}
.nav-option{
    position:relative;
    float: left;
    border-radius: 5px;
    height:50px;
    width: 80px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:1%;
    font-size: 14px;
    font-weight: 800;
    line-height: 3.5;
    text-align: center;
    color: white;
    background-color: #94846D;

    /*
    -webkit-transition: all 500ms cubic-bezier(0.600, 0, 0.735, 0.045); 
	-webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); 
	-moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	-ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); 
	-o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); 
	transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); */
}

/*
.nav-option-1{
    background-color:#65DB9A;
}
.nav-option-2{
    background-color:#5CACDE;
}
.nav-option-3{
    background-color:#FFB463;
}
.nav-option-4{
    background-color: #F0DF62;
}
.nav-option-5{
    background-color: #F07878;
}
*/
/*
.nav-option:hover{

    margin-left: -5px;
	margin-top: -5px;
	width: 100px;
	height: 100px;
    text-decoration:none;
    color:white;
    line-height: 4.5;
    font-size: 20px;
}*/
.title-name{
    display: inline;
}
.letter{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    
 
}

.letter:hover{
    animation: letterHov 1s ease 0s infinite alternate;
}
@keyframes letterHov {
   /* 0%{transform: translateY(-15px);};
    100%{transform: translateY(30px);};*/
    0%{transform: translateY(-15px);};
    100%{transform: translateY(30px);};
}

@keyframes mainSym {
    0%{transform: scale(1.2) translateY(-2px); opacity:0.5; color:pink;};
    1%{transform: scale(0.9); opacity:1; color:pink;};
    2%{transform: scale(1.2) translateY(-2px); opacity:0.5; color:pink;};
    100%{transform: scale(0.9); opacity:1; color:pink;};
}