.section-port{
    padding: 0 5%;
}
.title-port{
    color:#66CC99;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

ul.finCalc-list li{
    position: relative; left:25px;
}
/*--------------------------------------------------------------
                            MODAL
---------------------------------------------------------------*/


@media screen and (min-width: 768px;) {
.modal .modal-dialog  {width:900px;}
}
body .modal .modal-dialog  {width:60%;}

.modal-content{
  max-height: calc(100vh - 210px);
  min-height: 700px;
  overflow-y: auto;

}
.modal-content-dropchat{
    
}
.modal-body{
    height:500px;
    max-height: 800px;
}
.modal-body p{
    font-size: 15px;
}
.modal-head{
    padding:10px 10px;
    text-align: center;
    height:50px;
}
.modal-foot{
    height:50px; 
    text-align: center; 
}
.modal-foot p{
    position: relative; font-size: 15px;
    padding:5px; line-height: 15px;
}
.port-gsc-icon{
    position: relative; top:-20px;
    color:#876C95; 
} 
.port-modal-vid{
    transform: translateX(11%);
    /* transform: translateX(25%); MODAL VID*/
}
.modal-inbox-img{
    transform: translate(10%);
    
}
/*----------------CAROUSEL------------------*/
.carousel-control{
    background: none !important; opacity:1;
    color:#66CC99;
    height:50px; top:45%;
}
.carousel-control:hover,
.carousel-control:focus{
    color:#66CC99 ;
}
.carousel-indicators .active{
    background-color: #66CC99;
}
.carousel-indicators li{
    border: solid 2px #66CC99;
}



/*  http://thenewcode.com/825/Pinterest-Style-Column-Layout-In-Pure-CSS    */
/*--------------------------------------------------------
                    PINTREST LAYOUT
---------------------------------------------------------------*/
#columns {
	column-width: 320px;
	column-gap: 15px;
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}
div#columns figure figcaption{
    color:white; font-weight: 600; font-size: 18px;
}
div#columns figure {
	background: #66CC99;
	border: 2px solid #66CC99;
	box-shadow: 0 1px 2px #66CC99;
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
	column-break-inside: avoid;
	display: inline-block;
}
div#columns figure img {
	width: 100%;
	height: auto;
	border-bottom: 1px solid white;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns:hover figure:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 750px) {
	#columns { column-gap: 0px; }
	#columns figure { width: 100%; }
}
