.share {
  max-width: 600px;
  height: 100px;
  margin: 0 auto;
  -webkit-filter: url("#goo");
  filter: url("../share.html#goo");
  position: relative;
}

.share-button,
.share-toggle-button {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  line-height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  background: #ccc;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;

}
.share-icon{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 10%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.share-button:hover,
.share-toggle-button:hover {
  color: #fff;
}

.share-button {
  font-size: 20px;
  background: #737070;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  color: white;
    text-decoration: none;
}

.share-button {
    color: white;
    font-size: 20px;
    border-radius: 50%;
}

share-button:hover, 
share-button:focus {
  color: #dfd7d7;
}

.share-toggle-button {
  z-index: 9;
  background: #666;
  font-size: 20px;
}

.share-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.share-item {
  display: inline-block;
}
.btn-1{
    background-color: #F07878;

}
.btn-2{
    background-color:#65DB9A;
}
.btn-3{
    background-color:#F0DF62;
}
.btn-4{
    background-color: #5CACDE;
}
.btn-5{
    background-color: #FFB463;
}
.btn-6{
    background-color: #F07878;
}
